h1{
color: rgb(0, 20, 37);
text-align: center;
}

p {color:rgb(19, 172, 191);
    font-size: 20px;
}


.Ellie-img{
    width: 300px;
    height: 300px;
}

.Amelia-img {
    width: 300px;
    height: 400px;
 }

