h1{
color: rgb(19, 179, 171);
text-align: center;
font-family: 'Vollkorn', serif;
}

p {color:rgb(7, 104, 99);
    font-size: 20px;
    font-family: 'Vollkorn', serif;
}

div {
    color:rgb(18, 134, 129);
    font-size: 18px;
}

.Ellie-img{
    width: 200px;
    height: 200px;
    text-align: center;
}

.Amelia-img {
    width: 300px;
    height: 400px;
 }
