h1{
    color: rgb(0, 20, 37);
    text-align: center;
}

p {color:rgb(19, 172, 191);
    font-size: 20px;
}

.Ellie-img{
    margin-left: 40px;
    width: 300px;
    height: 300px;
}

.Amelia-img {
    margin-left: 70px;
    width: 200px;
    height: 300px;
 }
 .Umo-img{
    margin-left: 70px;
    width: 250px;
    height: 300px;
 }

 .links{
     padding: 25px;
     word-spacing: 370px;
 }

 .texttop{
    text-align: center;
    font-size: 30px;
 }

